<html>
<body bgcolor="white">

<!-- begin ###MANUAL### -->
<hr>
<h2>Manual</h2>
<p>
New files can be uploaded in the <b>Upload new file</b> form. This is only shown if you have write access to the mount. The same goes for directory creation.
</p>
<p>
If you have the needed privileges, you will se these symbol at each file and directory:
<ul>
 <li><img src="typo3conf/ext/moc_filemanager/res/delete.gif"> This will delete the file/directory
 <li><img src="t3lib/gfx/rename.gif"> Pressing this will provide you with a form to rename the file/dir.
</ul>
<hr>
<!-- end ###MANUAL### -->

</body>
</html>

